extends ../../../views/layout

block content
  h3= "Select A Project"
  ul
    - each project in projects
      li 
        a(href="cfd/#{project.uri}") #{project.name} CFD
      li 
        a(href="velocity/#{project.uri}") #{project.name} Velocity
