extends ../../../views/layout

block content
  h3= "Select A Project"
  ul
    - each project in projects
      li 
        | #{project.name} : 
        a(href="cfd/#{project.uri}") CFD 
        |  / 
        a(href="velocity/#{project.uri}") Velocity 
        |  / 
        a(href="burn/#{project.uri}") Burn Down
